[submodule "backend/third_party/abseil-cpp"]
	path = backend/third_party/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "backend/third_party/googletest"]
	path = backend/third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "backend/third_party/crow"]
	path = backend/third_party/crow
	url = https://github.com/CrowCpp/Crow.git
[submodule "backend/third_party/asio"]
	path = backend/third_party/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "backend/third_party/nlohmann"]
	path = backend/third_party/nlohmann
	url = https://github.com/nlohmann/json.git
[submodule "backend/third_party/libpqxx"]
	path = backend/third_party/libpqxx
	url = https://github.com/jtv/libpqxx.git
[submodule "backend/third_party/cpr"]
	path = backend/third_party/cpr
	url = https://github.com/libcpr/cpr.git
